
.profile {
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
  }
  
  .profile-card {
    background-color: #2e2828;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .profile-title {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    
  }
  
  .profile-title h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-title p {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
  }
  